@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #319279 !important;
}

body .user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 40px 0;
}

body .user-container .user-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.2),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .user-container .user-card:nth-child(1) .user-box .user-content #Q1 {
  background: #43517F;
  border: 0;
  height: 50px;
  width: 120px;
}


body .user-container .user-card:nth-child(2) .user-box .user-content #Q2 {
  background: #004775;
  border: 0;
  height: 50px;
  width: 120px;
}


body .user-container .user-card:nth-child(3) .user-box .user-content #Q3 {
  background: #206B72;
  border: 0;
  height: 50px;
  width: 120px;
}


body .user-container .user-card .user-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #0a2c20;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .user-container .user-card .user-box:hover {
  transform: translateY(-50px);
}

body .user-container .user-card .user-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .user-container .user-card .user-box .user-content {
  padding: 20px;
  text-align: center;
}

body .user-container .user-card .user-box .user-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.5);
}

body .user-container .user-card .user-box .user-content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .user-container .user-card .user-box .user-content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .user-container .user-card .user-box .user-content button {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .user-container .user-card .user-box .user-content button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.close{
  color: #d5e8df !important;
}

#ButtonQuestionario{
  background-color: #206B72;
  border-color: #206B72;
}

#ModalChange{
  color: #d5e8df;
  background-color: #2F4858;
}

.NavBarRound{
  border-radius: 20px;
}